<!DOCTYPE html>

<html>

    <head>

        <title> Welcome to Pebble Dig. </title>
        <meta charset = "utf-8" >
        <link rel="stylesheet" href="/css/generic_vanilla_canvas_2d.css">

     </head>

     <body>

        <canvas id = "thecanvas" > Your Browsers needs to support canvas for this to work. </canvas>

        <div>

            <h1>Pebble Dig (jboot client)</h1>

            <p>username: <%= user.username %> <a href="/logout">logout</a></p>

            <div id="game_info_area">

                <p>This is the game info area. If you are reading this you may have javascript disabled, 
                something went wrong, or you are cheking out my source code.</p>

            </div>

        </div>

<!--
        <script src = "/js/dig_peb.js" ></script>
        <script src = "/js/dig_stack_3.js" ></script>
        <script src="/systems/vanilla/js/game.js"></script>
        <script src="/systems/vanilla/js/canvas.js"></script>
        <script src="/systems/vanilla/js/main.js"></script>
-->

     </body>

</html>
