<!DOCTYPE html>

<html>
<head>

    <title>Welcome to Pebble_dig</title>
    <meta charset="utf-8">

</head>
<body>

<h1>Pebble_dig: 2D Vanilla JS System</h1>

<% include ./parts/foot.ejs %>

</body>
</html>
