 <!DOCTYPE html>

 <html>
 <head>

 <title> Welcome to Pebble_dig </title>
 <meta charset = "utf-8" >

     </head>
     <body>

     <h1> Pebble_dig : 2D Vanilla JS System </h1>

     <canvas id = "thecanvas" > Your Browsers needs to support canvas for this to work. </canvas>

     <script src = "/js/dig2d_peb.js" ></script>
     <script src = "/js/stack_3_client.js" ></script>
     <script src="/js/dig2d_main.js"></script>

	 
	 <% include ./parts/foot.ejs %>


 </body>
</html>
