<!DOCTYPE html>

<html>

    <head>

        <title> Welcome to Pebble_dig </title>
        <meta charset = "utf-8" >

     </head>

     <body>

        <h1> Pebble_dig : 2D Vanilla JS System </h1>

        <div id="game_info_area">

            <p>This is the game info area. If you are reading this you may have javascript disabled, something went wrong, or you are cheking out my source code.</p>

        </div>
        <canvas id = "thecanvas" > Your Browsers needs to support canvas for this to work. </canvas>

        <script src = "/js/dig_peb.js" ></script>
        <script src = "/js/dig_stack_3.js" ></script>
        <script src="/js/dig2d_main_fed.js"></script>

        <% include ./parts/foot.ejs %>

     </body>

</html>
