body {
  padding-top: 50px;
}

.jboot-content {
  padding: 0px 15px;
  text-align: center;
}

#thecanvas{

    position:relative;
    left:0px;
    top:0px;

}

.nav-desc{

    margin-left: 15px;
    color: #777;
    border-bottom: 1px solid #777;

}

#game_info_area{

    color: #777;

}